<meta name="viewport" content="width=device-width, initial-scale=1">
<p id="notice"><%= notice %></p>

<h1>The Topics List</h1>

<table class="table table-hover">
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>
        <td><%= pluralize(topic.votes.count, "vote") %></td>
        <td><%= button_to '+1', upvote_topic_path(topic), method: :post, class: "btn btn-primary" %></td>
        <% if topic.votes.count > 0 %>
          <td><%= button_to '-1', downvote_topic_path(topic), method: :post, class: "btn btn-primary" %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= button_to 'New Topic', new_topic_path, class: "btn btn-primary" %>

